@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=IBM+Plex+Sans&family=Karla:wght@700&family=Kumbh+Sans&family=League+Spartan&family=Mako&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=IBM+Plex+Sans&family=Karla:wght@700&family=Kumbh+Sans&family=League+Spartan:wght@500&family=Mako&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=IBM+Plex+Sans&family=Karla:wght@700&family=Kumbh+Sans&family=League+Spartan:wght@700&family=Mako&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif; 
    max-width: 1440px;
    height: auto;
    background-image: url(/images/bg-pattern-top-desktop.svg),url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100vh;
}

.content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(11, 1fr);
    padding: 40px ;
    
}

.mainText {
    grid-row: 1/2;
    grid-column: 1/6;
    margin: 15px;

}

.mainText p {
    font-size: 1.2rem;
    color: hsla(302, 10%, 53%, 0.788)
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(300, 43%, 22%);
    margin-bottom: 10px;
    
}


.stars {
    grid-row: 1/2;
    grid-column: 8/12;
    display: flex;
    flex-direction: column;
}

.star {
    background-color: hsl(308, 14%, 89%);
    margin: 15px;
    width: auto;
    padding: 20px;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    color: hsl(300, 43%, 22%);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.reviews {
    position: relative;
    right: 40px;
}

.bestTech {
    position: relative;
    left: 40px;

}




.cards {
    grid-row: 2/3;
    grid-column: 1/12;
    display: flex;
    margin-top: 20px;

}

.card {
    background-color: hsl(300, 43%, 22%);
    margin: 15px;
    border-radius: 6px;
}

.card p {
    color: white;
}

.card img {
    width: 50px;
    border-radius: 50%;

}

.avatar {
    display: flex;
    justify-content: start;
}

.avatar h3 {
    margin-left: 15px;
    color: white;
}

.avatar span {
    color: hsla(333, 80%, 67%, 0.712);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.card.left {
    position: relative;
    bottom: 15px;
}

.card.right {
    position: relative;
    top:15px
}

/* ****RESPONSIVE GRID***** */


@media screen and (max-width:700px) {


    body {
        font-family: 'League Spartan', sans-serif; 
        max-width: 700px;
        background-image: url(/images/bg-pattern-top-desktop.svg),url(/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100vh;

        
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .reviews {
        position: unset;


    }
    
    .star.bestTech {
        position: unset;
   
    
    }

    .star {
        background-color: hsl(308, 14%, 89%);
        width: 100%;
        height: 50px;
        border-radius: 6px;
        font-weight: 600;
        color: hsl(300, 43%, 22%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }

    .stars {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        width: 100%;
    }
    


    
}




